<%- include ../share/header %>

<div class="row">
	<div class="col-md-2 text-center">
	</div>
	<div class="col-md-7 ">
	 <h3><a><%= post.title %></a></h3>
		<p class="info">
		  <a href="/user/<%= post.name %>" class="black"><%= post.name %></a> 
		  <% post.tags.forEach(function(tag,index){ %>
		  <% if(tag){ %>
		  <a href="/tags/<%=tag%>" class="label label-default"><%=tag%></a>
		  <% }%>
		  <%})%>
		</p>
		<p><%- post.post %></p>
		<p class="text-right" style="color:#969696"> 
			<%= post.time.minute %>
		</p>
		<%- include comment %>
	</div>
	<div class="col-md-3 text-center">
	</div>
</div>

<%- include ../share/footer %>