<%- include ../share/header %>

	<div class="row">
	    <div class="col-md-2 text-center">
			<div class="list-group">

			  <a href="#" class="list-group-item disabled">
			    热门标签
			  </a>
			  <% posts.forEach(function(post,index){ %>
			  <a href="#" class="list-group-item text-left"><%= post.title %></a>
			  <%})%>
			</div>
		</div>
		<div class="col-md-7">
			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">每日推荐</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">热门话题</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active " id="home">
			    	<% posts.forEach(function (post, index) { %>
                    <div class="topic-cell">
<<<<<<< HEAD
					  <h3><img src="<%= post.head %>"/><a href="/topic/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h3>
					  <p class="info" style="color:#969696">
					<a class="black" href="/user/<%= post.name %>" ><%= post.name %></a> 
=======
					  <h3><a href="/topic/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h3>
					  <p class="info" style="color:#969696">作者：
					<a href="/user/<%= post.name %>" ><%= post.name %></a> | 

					标签：
>>>>>>> parent of a7caf9b... 调整了标签的样式
					  <% post.tags.forEach(function (tag, index) { %>
					    <% if (tag) { %>
					      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
					    <% } %>
					  <% }) %>

					  </p>
					  
					  <p  class="demop" ><%- post.post %></p>
					  <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>

					   <p class="text-right" style="color:#969696"> 
					    <%= post.time.minute %>
					   </p>

					  
					</div>

					<% }) %>
				</div>
			    <div role="tabpanel" class="tab-pane" id="profile">...</div>
			  </div>
			</div>

           <%- include ../share/page %>
		</div>
		<div class="col-md-3 text-center">
			<div class="list-group">

			  <a href="#" class="list-group-item disabled">
			    最新话题
			  </a>
			  <% posts.forEach(function(post,index){ %>
			  <a href="/topic/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" class="list-group-item text-left"><%= post.title %></a>
			  <%})%>
			</div>
		</div>
		
	</div>







<%- include ../share/footer %>